:root {
    --black: #353535;
    --gray: #f7f7f7;
    --primary: #04b3f3;
    --white: #fff;
    --accent: #04d7f3;
}

/* COMMON STYLES */

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: clamp(2rem, calc(2rem + ((1vw - 0.2rem) * 2.25)), 4.25rem) !important;
}

h2 {
    font-size: clamp(20px, calc(1.25rem + ((1vw - 3.2px) * 1.9375)), 51px) !important;
}

section {
    margin-top: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 2.5)), 3.5rem) !important;
    margin-bottom: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 2.5)), 3.5rem) !important;
}

p {
    line-height: 1.4 !important;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    padding-top: 80px;
    background-color: var(--gray);
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* NAVBAR */
.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.067);
    position: fixed;
    top: 0;
    z-index: 99;
}

.navbar__logo {
    color: var(--primary);
    font-weight: 700;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    letter-spacing: 1px;
}

.navbar__logo span {
    margin-top: 1.4rem;
}

.navbar ul {
    display: flex;
    gap: 4rem;
}

.navbar ul li a {
    color: var(--black);
    font-size: 1.4rem;
    transition: all ease 0.2s;
}

.navbar ul li a:hover {
    color: var(--primary);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 1px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
}

.bar:nth-child(2) {
    width: 30px;
    margin-right: 5px;
}

/* NAVBAR END */

/* BUTTON STYLES */
.button {
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    padding: 1rem 2rem;
    padding-left: 1.5rem;
    padding-right: 3.5rem;
}

.btn--primary {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: white;
    transition: all ease 0.5s;
}

.btn--primary:hover {
    border: 1px solid transparent;
    background-color: var(--primary);
    color: white;
}

.btn--secondary {
    background-color: var(--primary);
    border: 1px solid transparent;
    color: white;
    transition: all ease 0.5s;
}

.btn--secondary:hover {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: white;
}

.btn--secondary:hover svg {
    fill: var(--primary);
}



/* BUTTON STYLES */


/* FOOTER START */
.footer {
    padding: 3rem 20rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 4rem;
    background-color: white;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__logo img {
    width: 75px;
    height: auto;
}

.footer__logo span {
    font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 0.2rem) * 0.375)), 1.875rem);
    line-height: 1.4;
    color: var(--black);
}

.footer__links {
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1rem;
}

.footer__links a,
.footer__info a {
    color: var(--black);
    font-size: 1.1rem;
    transition: all ease 0.3s;
}

.footer__links a:hover {
    color: var(--primary);
}

.footer__info {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 1rem;
    margin-top: 1rem;
    align-items: start;
}

.footer__info a:nth-child(1) {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    text-align: start;
    width: 100%;
    gap: 0.5rem;
}

.footer__info :nth-child(2),
.footer__info :nth-child(3) {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer__license,
.footer__license ul {
    display: flex;
    align-items: center;
}

.footer__license {
    border-top: 1px solid var(--black);
    grid-column: 1/5;
    font-weight: 300;
    justify-content: space-between;
    padding-top: 2rem;
}

.footer__license ul img {
    transition: all ease 0.3s;
}

.footer__license ul img:hover {
    scale: 1.4;
}

.footer__license ul {
    width: 15%;
    justify-content: space-between;
}

/* FOOTER END */

/* COMMON STYLES */


/* !INDEX PAGE START */

/* *HERO SECTION */
.hero {
    width: 80vw;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
}

.hero__img {
    width: 46%;
    height: auto;
}

.hero__content h1 {
    font-weight: 400;
    line-height: 5.5rem;
    grid-column: 1/4;
    width: 100%;
    height: auto;
}

.hero__content h1 span {
    display: inline-block;
    width: 300px;
    color: var(--primary);
}

/* .hero__content h1 span::before {
    content: "Website";

    animation: animate infinite 6s;
}

@keyframes animate {

    0% {
        content: "Website";
    }

    25% {
        content: "Website";
    }

    50% {
        content: "Application";
    }

    75% {
        content: "Wordpress";
    }
} */

.hero__content div {
    grid-column: 1/4;
    display: flex;
    gap: 3rem;
}

.hero__description {
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--black);
    grid-column: 1/4;
}

.hero__btn {
    position: relative;
    justify-self: start;
    font-size: 1rem;
    padding: 1em 4.5em 1em 2.5em;
}

.hero__btn svg {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

/* HERO END */

/* ABOUT SECTION */
.about {
    background: radial-gradient(circle farthest-side, #21deff, #0D416B);
    color: white;
    padding: 5rem 10rem;
    /* gap: 2rem; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about h2 {
    margin-bottom: 2.5rem;
}

.about p {
    margin-bottom: 1rem;
}

.about h2,
.about p {
    grid-column: 1/3;
}

.about p {
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 0.3)), 1.3rem);
    line-height: 1.6;
}

.about__card {
    box-shadow: 3px 3px 1px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.072);
    backdrop-filter: blur(50px);
    border-radius: 15px;
    padding: 1rem 2rem;
    width: 75%;
    justify-self: self-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 2rem 0;
}

.about__card h3 {
    font-size: clamp(1.1rem, calc(1.1rem + ((1vw - 0.2rem) * 0.9)), 2rem);
}

.about a {
    color: var(--white);
    padding: 1em;
    box-shadow: 3px 3px 1px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.072);
    backdrop-filter: blur(50px);
    border-radius: 15px;
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 0.3)), 1.3rem);
    transition: all ease 0.5s;
    justify-self: self-start;
}

.about a:hover {
    text-decoration: underline;
}

.about a:active {
    box-shadow: 2px 2px 1px rgb(255, 255, 255);
}

/* ABOUT SECTION */

/* SERVICE START */
.service {
    margin: 5rem auto;
}

.service__header {
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    margin-bottom: 3rem;
    padding: 0 14rem;
}

.service__header h2 {
    font-weight: 400;
    color: var(--black);
    letter-spacing: 4px;
    margin-bottom: 2.5rem;
}

.service__header span {
    color: var(--primary);
    font-weight: 500;
    font-size: clamp(1.1rem, calc(1.1rem + ((1vw - 0.2rem) * 0.7)), 1.8rem);
}

.service__btn {
    position: absolute;
    right: 4rem;
    top: 0px;
    right: 10%;
    padding: 1rem;
    font-weight: 400;
}

.service__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    gap: 2rem;
    justify-content: center;
}

.service__cards div {
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.194);
    background-color: white;
    padding: 2rem;
    height: auto;
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 0.5rem;
}

.service__cards div span:nth-child(1) {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__cards div span:nth-child(1) img {
    width: 35px;
    height: 35px;
}

.service__cards div:nth-child(1) span:nth-child(1) img {
    width: 50px;
    height: 50px;
}


.service__cards div span:nth-child(2) {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: var(--black);
    gap: 0.5rem;
}

.service__cards div p {
    color: var(--black);
    word-spacing: 3px;
    line-height: 23px;
    grid-column: 1/3;
}

.service__cards div a {
    color: var(--primary);
    gap: 0.5rem;
    justify-self: self-start;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    padding: 0.5em;
    transition: all ease 0.3s;
    border-radius: 15px;
}

.service__cards div a:hover {
    box-shadow: 3px 3px 1px var(--primary);
}



/* SERVICE END */

/* Contact Us Start */

.contactUs {
    margin: 3rem auto;
    margin-bottom: 0;
    background-color: #1382dd;
    /* For browsers that do not support gradients */
    background: radial-gradient(circle farthest-side, #21deff, #0D416B);
    padding: 96px 192px;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 7rem;
}

.contactUs__heading {
    grid-column: 1/3;
}

.contactUs__info {
    grid-column: 1/2;
}

.contactUs__heading {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.contactUs__heading span {
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 0.6)), 1.6rem);
}

.contactUs__heading h2 {
    font-weight: 600;
    width: 60%;
    font-size: clamp(28px, calc(1.75rem + ((1vw - 3.2px) * 2.9375)), 75px) !important;
    line-height: 1.7;
}

.contactUs__info,
.contactUs__form {
    box-shadow: 0px -3px 1px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.072);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.contactUs__info {
    grid-column: 1/3;
    padding: 1.5rem;
    width: 77.1%;
    height: 170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.contactUs__info a {
    color: white;
}

.contactUs__info :nth-child(odd) {
    font-weight: 600;
    letter-spacing: 1px;
}

.contactUs__info :nth-child(1),
.contactUs__info :nth-child(2) {
    grid-column: 1/2;
}

.contactUs__info :nth-child(3),
.contactUs__info :nth-child(4),
.contactUs__info :nth-child(5),
.contactUs__info :nth-child(6) {
    grid-column: 2/3;
}


.contactUs__info :nth-child(3) {
    grid-row: 1/2;
}

.contactUs__form {
    justify-self: self-start;
    grid-column: 3/4;
    grid-row: 1/3;
    width: 350px;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}


.contactUs__form h3 {
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.contactUs__form label,
.contactUs__form h3 {
    font-weight: 300;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border: 1px solid #dc3545;
}

.form-field.success input {
    border: 1px solid #28a745;
}


.form-field small {
    color: #dc3545;
    font-weight: bold;
}

.contactUs__form input {
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 0.8rem 0.5rem;
}

.contactUs__form textarea {
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 0.5rem;
    resize: none;
}

.contactUs__form input {
    margin-bottom: 0.5rem;
}

.contactUs__form button {
    border: none;
    background-color: transparent;
    align-self: self-start;
    color: white;
    font-size: 1.1rem;
    padding: 0.7em 1em;
    margin-top: 1em;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all ease 0.3s;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.405);
    background-color: rgba(255, 255, 255, 0.072);
    backdrop-filter: blur(50px);
    border-radius: 15px;
}

.contactUs__form button:hover {
    box-shadow: 3px 3px 1px rgb(255, 255, 255);
}

/* Contact Us End */

/* INDEX PAGE END */


/* CONTACT PAGE START */

.contactUs--page {
    height: 95vh;
    margin: 0;
    /* margin-bottom: 4rem; */
}

.contactUs--page form {
    height: auto;
    align-self: center;
}

.contactUs--page .contactUs__info {
    height: 190px;
}

/* CONTACT PAGE END */

/* SERVICE PAGE START */

.service--page .service__header h1,
.aboutUs__header,
.career__header {
    color: var(--black);
    font-weight: 600;
    text-align: center;
}

/* SERVICE PAGE END */


/* ABOUT US PAGE */

.aboutUs {
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.aboutUs__header {
    text-align: center;
    margin: 0 auto;
}

.aboutUs__info {
    width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 2fr);
    row-gap: 3rem;
    column-gap: 2rem;
    height: auto;
}


.aboutUs__info span {
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 1.5)), 2.5rem) !important;
    font-weight: 600;
}

.aboutUs__info p {
    line-height: 1.6;
    font-size: 1.2rem;
}

.aboutUs__info img {
    width: 85%;
    height: auto;
    border-radius: 5px;
    align-self: center;
}

.aboutUs__info :nth-child(3) {
    grid-column: 2/3;
    justify-self: end;
}

.aboutUs__future {
    grid-row: 2;
    grid-column: 1/2;
}

.aboutUs__future,
.aboutUs__history {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* VALUE SECTION */
.values {
    height: auto;
    width: 70vw;
    margin: 5rem auto;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.values h3 {
    font-size: 2.4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 5rem;
    align-self: center;
}

.values :nth-child(7) {
    width: 50%;
}

.values :nth-child(2) {
    width: 100%;
}

.values hr {
    border: none;
    width: 100%;
    background-color: var(--black);
    height: 1px;
}

.values span {
    font-size: 1rem;
    font-weight: normal;
}

.values p {
    font-size: 1.1rem;
    width: 80%;
    justify-self: end;
    line-height: 1.6;
}

.values h2,
.values h3 {
    grid-column: 1/2;
    justify-self: self-start;
    margin-left: 3rem;
}

.values hr {
    grid-column: 1/3;
}

/* VALUE SECTION */

/* TEAM SECTION */

.team {
    background-color: white;
    padding: 2.5rem 0;
    margin-bottom: 3rem;
}

.team__container {
    background-color: white;
    height: auto;
    color: var(--black);
    margin: 0 auto;
    width: 85vw;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 3rem;
}

.team__container h2 {
    letter-spacing: 1px;
}

.team__container h2,
.team__container p {
    text-align: center;
}

.team__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 2rem;
}

.team__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 1rem;
}

.team__card>img:nth-child(1) {
    border-radius: 50%;
    width: 150px;
    height: auto;
    grid-column: 1/4;
}

.team__card h3 {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.3rem;
    grid-column: 1/4;
}

.team__card a img {
    width: 24px;
    height: 24px;
}

.team__card span {
    font-size: 15px;
    grid-column: 1/4;
}

.team__card :nth-child(4) {
    justify-self: end;
}

.team__card :nth-child(6) {
    justify-self: start;
}

/* TEAM SECTION */

/* PROJECT SECTION */
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black);
    gap: 3rem;
    padding: 2rem 0;
}

.project h2 {
    letter-spacing: 1px;
    text-align: center;
}

.project :nth-child(2) {
    font-size: 1.7rem;
    text-align: center;
}

.project a {
    border: 1px solid var(--black);
    position: relative;
    color: var(--black);
    padding: 1.2rem;
    padding-right: 3rem;
    font-weight: 700;
    transition: all ease 0.3s;
}

.project a:hover {
    color: white;
    background-color: var(--primary);
    border: 1px solid transparent;
}

.project a svg {
    position: absolute;
    right: 10px;
    bottom: 16px;
}

/* PROJECT SECTION */

/* ABOUT US PAGE */


/* BLOG PAGE */
.blog {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.blog h1 {
    text-align: center;
}


.blog__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0.5rem;
    height: auto;
}

.blog__container {
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.blog__container .blog__card:nth-child(1) {
    width: 100%;
    height: 450px;
    grid-column: 1/4;
    position: relative;
}

.blog__container .blog__card:nth-child(1) .blog__info {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 35%;

}

.blog__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.blog__info {
    background-color: white;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    padding: 1.8rem;
    gap: 1rem;
    color: black;

}

.blog__info h3 {
    font-weight: 600;
    font-size: 1.3rem;
}

.blog__info :nth-child(1) {
    color: var(--primary);
    font-weight: 600;
    background-color: rgb(237, 237, 237);
    padding: 0.2rem;
    border-radius: 5px;
}

.blog__info :nth-child(3) {
    font-size: 0.9rem;
    color: var(--black);
}

/* BLOG PAGE */


/* WORKSHOP AND IT TRAINING PAGE */
.itTraining h1,
.workshop h1 {
    text-align: center;
    background-color: var(--primary);
    color: white;
    padding: 5rem;
}

.itTraining span,
.workshop span {
    font-size: 1.4rem;
    font-weight: normal;
    display: block;
    margin-top: 3rem;
}


/* WORKSHOP AND IT TRAINING PAGE */

/* TESTIMONIAL PAGE */

.testimonials {
    padding: 6rem 0;
}

.testimonials h1 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.5rem;
}

.testimonials__container {
    height: auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 auto;
}

.testimonials__container h3 {
    font-size: 1.8rem;
    line-height: 1.1;
    font-weight: 700;
}

.testimonial {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.6;
    justify-content: center;
}

.testimonial span:nth-child(2) {
    font-weight: 600;
    font-size: 1.3rem;
}

/* APOSTROPHE */
.testimonial img:nth-child(3) {
    align-self: center;
    position: relative;
}

.testimonial__person {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
}

.testimonial__person img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
}

.testimonial__person h4 {
    font-size: 20px;
    grid-column: 2/6;
}

.testimonial__person span {
    color: var(--black);
    font-weight: 600;
    font-size: 18px;
    grid-column: 2/6;
}

/* TESTIMONIAL PAGE */

/* CASE STUDY PAGE */

.caseStudy {
    width: 65vw;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 3rem;
    color: var(--black);
}

.caseStudy h1 {
    text-align: center;
    margin: 0 auto;
    grid-column: 1/3;
}

.caseStudy__card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.caseStudy__card img {
    width: 100%;
    height: auto;
}

.caseStudy__card h2 {
    font-size: clamp(1.25rem, calc(1.25rem + ((1vw - 0.2rem) * 0.5625)), 1.8125rem) !important;
    font-weight: 600;
}

.caseStudy__card a {
    color: var(--primary);
    position: relative;
    width: fit-content;
    padding-right: 4rem;
}

.caseStudy__card a svg {
    position: absolute;
    top: -3px;
    right: 20px;
}

/* CASE STUDY PAGE */

/* CAREER PAGE */
.career {
    max-width: 1520px;
    margin: 5rem auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 1rem;
    row-gap: 5rem;
    align-items: center;
}

.career__header {
    text-align: start;
}

.career h1 {
    grid-column: 1/3;
}



.career p {
    font-size: 1.2rem;
    line-height: 1.4;
}

.career h2,
.career p,
.career span {
    grid-column: 1/2;
}

.career span {
    font-weight: bold;
    font-size: 1.4rem;
}

.career img {
    width: 80%;
    height: auto;
    grid-row: 2/auto;
    grid-column: 2/3;
}

.career__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* CAREER PAGE */

/* CLIENT PAGE */
.client {
    text-align: center;
    margin: 0 auto;
    padding: 4rem 15px;

}

.client h1 {
    margin-bottom: 4rem;
}

.clients {
    max-width: 1320px;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
    justify-content: space-evenly;
    gap: 2rem;
    column-gap: 5rem;
    flex-wrap: wrap;
}

.clients img {
    width: 200px;
    height: 50px;
}

/* CLIENT PAGE */

/* APPROACH */

.approach h1 {
    color: white;
    background-color: var(--primary);
    text-align: center;
    padding: 8rem 0;
    margin-bottom: 4rem;
}

.approach__content {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
    /* row-gap: 3rem; */
    max-width: 1320px;
    margin: 0 auto;
    /* margin-bottom: 4rem; */
}

.approach p {
    grid-column: 1/3;
    justify-self: center;
    text-align: center;
    width: 90%;
    margin-bottom: 4rem;
}

.approach__content {
    grid-column: 1/2;
}

.approach__methods {
    display: grid;
    grid-template-columns: 10% 1fr;
    row-gap: 0.5rem;
    justify-items: center;
    align-items: center;
}

/* approach method icons */
.approach__methods span:nth-child(1),
.approach__methods span:nth-child(4),
.approach__methods span:nth-child(7),
.approach__methods span:nth-child(10),
.approach__methods span:nth-child(13) {
    background-color: var(--primary);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    align-self: self-start;
    justify-self: center;
    margin-top: 10px;
}

.approach__methods span img {
    width: 20px;
    height: 20px;
}

.approach__img {
    grid-column: 2/3;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* approach method icons */
.approach__methods span:nth-child(1) {
    grid-row: 1/3;
}

/* approach method icons */
.approach__methods span:nth-child(4) {
    grid-row: 3/5;
}

/* approach method icons */
.approach__methods span:nth-child(7) {
    grid-row: 5/7;
}

/* approach method icons */
.approach__methods span:nth-child(10) {
    grid-row: 7/9;
}

/* approach method icons */
.approach__methods span:nth-child(13) {
    grid-row: 9/11;
}

.approach__methods span,
.approach__methods p {
    grid-column: 2/3;
    text-align: start;
}

.approach__methods span {
    align-self: self-end;
    justify-self: start;
    font-weight: bold;
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 0.2)), 1.2rem);
}

.approach__methods p {
    align-self: self-start;
    justify-self: start;
    font-size: clamp(0.8rem, calc(0.8rem + ((1vw - 0.2rem) * 0.2)), 1rem);
}

/* APPROACH */

/* SUPPORT PAGE */
.support {
    max-width: 1320px;
    margin: 0 auto;
    padding: 7rem 15px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    column-gap: 3rem;
}

.support h2,
.support span {
    grid-column: 1/4;
}

.support__cards {
    background-color: white;
    border: 1px solid rgba(179, 179, 179, 0.328);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 4rem 0;
    cursor: pointer;
    transition: all ease 0.4s;
}

.support__cards:hover {
    transform: translate(0, -10px);
}

.support__cards img {
    width: 95px;
    height: 95px;
}

.support__cards a {
    color: var(--black);
    font-weight: bold;
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 0.5)), 1.5rem);
}

/* SUPPORT PAGE */


/* PRIVACY POLICY & TERMS OF USE PAGE */
.policy h1,
.terms h1 {
    color: white;
    background-color: var(--primary);
    padding: 5rem;
    text-align: center;
}

.policy p,
.terms p {
    letter-spacing: 1px;
    line-height: 1.4;
}

.policy__content p:nth-child(1),
.terms__content p:nth-child(1) {
    margin-bottom: 2rem;
}

.policy__content h2,
.terms__content h2 {
    margin-bottom: 2rem;
}

.policy__content hr,
.terms__content hr {
    margin-bottom: 2rem;
}

.policy__content h3,
.terms__content h3 {
    margin-bottom: 12px;
}

.policy__content p,
.terms__content p {
    margin-bottom: 3.5rem;
}

.policy h1 span,
.terms h1 span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 2rem;
}

.policy__content,
.terms__content {
    max-width: 1120px;
    margin: 5rem auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr;
}

.policy__content h3,
.terms__content h3 {
    font-size: clamp(1.25rem, calc(1.25rem + ((1vw - 0.2rem) * 0.5)), 1.75rem);
}

/* PRIVACY POLICY and TERMS OF USE PAGE */



/* FAQS PAGE */


.container {
    margin: 0 auto;
    max-width: 1320px;
    height: auto;
    background-color: #F7F7F7;
    z-index: 99;
}



.FAQS__wrapper {
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.FAQS__col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: clamp(62.5rem, calc(62.5rem + ((1vw - 0.75rem) * -72.1154)), 71.875rem);
}

.FAQS__col:nth-child(2) {
    gap: 4.5rem;
    /* justify-content: space-between; */

}

.FAQS__col:nth-child(2) .FAQS__accordian:nth-child(5) .accordian--description {
    height: 200px;
}

.FAQS__col:nth-child(1) .FAQS__accordian:nth-child(4) .accordian--description {
    height: 200px;
}


.FAQS__wrapper h1 {
    display: flex;
    font-size: 4rem;
    flex-direction: column;
    gap: 2rem;
}

.FAQS__wrapper h1 span {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.4;
}

.FAQS__wrapper h1 img {
    width: 35px;
    height: auto;
}

.FAQS__question {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 1.5rem;
}

.FAQS__question span {
    font-size: 1rem;
}

.FAQS__question a {
    display: inline-block;
    align-self: flex-start;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.FAQS__question a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    border-radius: 10rem;
    z-index: -2;
}

.FAQS__question a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.FAQS__question a:hover {
    color: #fff;
}

.FAQS__question a:hover:before {
    width: 100%;
}


.FAQS__accordian {
    font-size: 1.2rem;
    background-color: white;
    padding: 1rem;
}

.accordion--content {
    padding: 0 15px;
    border-radius: inherit;
    overflow: hidden;
    height: auto;
}

.accordion--content.open {
    /* padding-bottom: 15px; */
}

.accordian--description {
    width: 80%;
    height: 0;
    line-height: 1.4;
    transition: all 0.2s linear;
}


.accordian--title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    gap: 1rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
    margin-bottom: 0.5rem;
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 0.8)), 1.8rem);
}

.accordian--title img {
    width: 24px;
    height: 24px;
}

.accordian--title:hover span {
    color: var(--primary);
}

.accordian--title span {
    font-weight: bold;
    gap: 1rem;
    transition: all ease 0.3s;
}

/* FAQS PAGE */


/* SERVICE LEVEL PAGE */

.serviceHero {
    position: relative;
    padding-bottom: 5rem;
}

.serviceHero h1 {
    background-color: var(--primary);
    color: white;
    padding: 6rem;
    padding-left: 16rem;
    padding-right: 40%;
    margin-bottom: 5rem;
}

.serviceHero>p {
    width: 30%;
    margin: 0 auto;
    margin-left: 16rem;
    line-height: 1.5;
    font-size: 1.1rem;
}

.serviceHero>img {
    right: 8%;
    top: 30%;
    width: 450px;
    height: 450px;
    object-fit: cover;
    position: absolute;
}

.serviceType {
    max-width: 1320px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--black);
    text-align: center;
    /* margin-bottom: 4rem; */
}

.serviceType hr {
    width: 100px;
    border: none;
    outline: none;
    background-color: var(--black);
    height: 1px;
}

.serviceType>p {
    width: 90%;
    line-height: 1.6;
}

.serviceType__card {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    padding: 4rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 1rem;
    column-gap: 2rem;
    justify-items: start;
}

/* .serviceType__card .service__method:nth-child(1),
.serviceType__card .service__method:nth-child(2),
.serviceType__card .service__method:nth-child(3) {
    grid-column: 1/2;
}


.serviceType__card .service__method:nth-child(5),
.serviceType__card .service__method:nth-child(6),
.serviceType__card .service__method:nth-child(7) {
    grid-column: 3/4;
}

.serviceType__card .service__method:nth-child(5) {
    grid-row: 1/auto;
}

.serviceType__card .service__method:nth-child(6) {
    grid-row: 2/auto;
}

.serviceType__card .service__method:nth-child(7) {
    grid-row: 3/auto;
} */

.serviceType__card hr {
    grid-column: 2/3;
    grid-row: 1/6;
    height: 98%;
    margin-right: 1rem;
    width: 2px;
}

.service__method {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: start;
    text-align: start;
    column-gap: 1.8rem;
    align-items: center;
    row-gap: 0.3rem;
    grid-template-columns: auto 1fr;
}

.service__method span {
    width: 100%;
    line-height: 1.6;
    align-self: self-start;
}

.service__method img {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: self-end;
}

.process {
    max-width: 1320px;
    margin: 4rem auto;
    padding: 0 15px;
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.process hr {
    width: 80px;
    height: 2px;
    border: none;
    outline: none;
    background-color: var(--black);
}

.process>p {
    width: 100%;
    text-align: center;
}

.process__card {
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 5rem 4rem;
    column-gap: 4rem;
    row-gap: 1rem;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.229);

}

.process__card p {
    line-height: 1.4;
    text-align: start;
    font-size: 1.1rem;
}

.process__card span {
    color: var(--primary);
    font-weight: bold;
    font-size: clamp(2.4375rem, calc(2.4375rem + ((1vw - 0.2rem) * 1.6875)), 4.125rem);
    grid-column: 1/2;
    grid-row: 1/3;
}

.process__card h3 {
    font-size: clamp(1.5625rem, calc(1.5625rem + ((1vw - 0.2rem) * 0.75)), 2.3125rem);
    font-weight: 500;
}

.ignite {
    max-width: 1320px;
    margin: 0 auto;
    padding: 1rem 15px;
    padding-bottom: 3rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    column-gap: 3rem;
}

.ignite h2,
.ignite span {
    grid-column: 1/4;
}

.ignite__cards {
    background-color: white;
    border: 1px solid rgba(179, 179, 179, 0.328);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 4rem 0;
    cursor: pointer;
    transition: all ease 0.4s;
}

.ignite__cards:hover {
    transform: translate(0, -10px);
}

.ignite__cards img {
    width: 95px;
    height: 95px;
}

.ignite__cards a {
    color: var(--black);
    font-weight: bold;
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 0.5)), 1.5rem);
}



/* SERVICE LEVEL PAGE */