:root {
    --black: #353535;
    --gray: #f7f7f7;
    --primary: #04b3f3;
    --white: #fff;
    --accent: #04d7f3;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    padding-top: 80px;
    background-color: var(--gray);
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* NAVBAR */
.navbar {
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.067);
    position: fixed;
    top: 0;
    z-index: 99;
}

.navbar__logo {
    color: var(--primary);
    font-weight: 700;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    letter-spacing: 1px;
}

.navbar__logo span {
    margin-top: 1.4rem;
}

.navbar ul {
    display: flex;
    gap: 4rem;
}

.navbar ul li a {
    color: var(--black);
    font-size: 1.4rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 1px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
}

.bar:nth-child(2) {
    width: 30px;
    margin-right: 5px;
}

/* NAVBAR END */

/* MEDIA QUERIES */

/* MEDIA QUERIES */

@media (max-width: 360px) {}

@media (min-width: 361px) and (max-width: 576px) {
    #navMenu {
        width: 100%;
    }
}

@media (min-width: 577px) and (max-width: 767) {}

@media (min-width: 768px) and (max-width: 992px) {}

@media only screen and (min-width: 993px) and (max-width: 1200px) {

    .navbar {
        justify-content: space-between;
        padding: 0 4rem;
    }

    .navbar__logo {
        font-size: 1.6rem;
    }

    .navbar__logo img {
        width: 60px;
        height: 60px;
    }

    #navMenu a {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    .navbar {
        justify-content: space-between;
        padding: 0 5rem;
    }

    #navMenu a {
        font-size: 1.3rem;
    }
}

/* NAVBAR QUERY */
@media (max-width: 992px) {

    /* NAVBAR RESPONSIVE */
    .navbar {
        justify-content: space-between;
        padding: 0 2rem;
    }

    .navbar__logo {
        font-size: 1.5rem;
    }

    .navbar__logo img {
        width: 50px;
        height: 50px;
    }

    .navbar__logo span {
        margin-top: 1rem;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #navMenu {
        position: fixed;
        top: 80px;
        gap: 0;
        right: -1000px;
        flex-direction: column;
        background-color: black;
        width: 50%;
        height: 100vh;
        padding: 2rem;
        gap: 2rem;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        transition: all 0.8s ease;

    }

    #navMenu a {
        color: white;
        font-weight: 300;
    }

    #navMenu.active {
        right: 0;
    }
}